@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

* {
    font-family: "JetBrains Mono", serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.info {
    text-align: center;
}

.info > * > a {
    text-decoration: none;
    color: cadetblue;
}

.proxy-dispatch-info {
    text-align: center;

}

.proxy-dispatch {
    text-align: center;
}

.proxy-dispatch button {
    padding: 1.5vh 1.5vw;
    border-radius: 25px;
    border: 1px solid cadetblue;
    transition: transform .2s;
}

.proxy-dispatch button:hover {
    transform: scale(1.125);
    border: 2px solid cadetblue;
    background-color: #e5fdff;
    font-weight: bold;
    cursor: pointer;
}